* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        font-family: 'Space Mono';
        vertical-align: baseline;
        background: transparent;
    }

body {
  overscroll-behavior: none;

}

header{
    background: #CCBAD6;
    margin-right: 50px;
    height: 735px;
}

h1{
  /* position: absolute; */
  width: 583px;
  height: 218px;
  padding-left: 28px;
  padding-top:298px;
  /* left: 28px;
  top: 298px; */

  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 85.1%;
  /* or 109px */

  letter-spacing: -0.05em;

  color: #FFFFFF;
}

h1 span{
  font-style: italic;
}

header .rectangle{
  width: 823px;
  height: 225px;

  /* Teal */

  background: #478799;
}

.running {
text-align: right;
padding-top: 14px;
padding-right: 20px;
transform-origin: top right;
/* margin-right: -25px; */

font-family: 'Space Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.1em;
color: #478799;

transform: rotate(-90deg);

}
