* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        font-family: 'Space Mono';
        vertical-align: baseline;
        background: transparent;
    }

body {
  overscroll-behavior: none;

}

header{
    background: #CCBAD6;
    margin-right: 50px;
    height: 735px;
}

h1{
  /* position: absolute; */
  width: 583px;
  height: 218px;
  padding-left: 28px;
  padding-top:298px;
  /* left: 28px;
  top: 298px; */

  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 85.1%;
  /* or 109px */

  letter-spacing: -0.05em;

  color: #FFFFFF;
  z-index: 1;
  top: 0;
}

span{
  font-style: italic;
}

header .rectangle{
  position: absolute;
  width: 823px;
  height: 225px;
  left: 0px;
  top: 546px;

  background: #478799;

}

.running {
text-align: right;
padding-top: 14px;
padding-right: 20px;
transform-origin: top right;
/* margin-right: -25px; */

font-family: 'Space Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.1em;
color: #478799;

transform: rotate(-90deg);

}

.running_2{
  position: absolute;

padding-left:720px;

padding-top: 15px;
transform-origin: top left;

  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #478799;
  transform: rotate(-90deg);
}

img.kirby_walk{
  position: absolute;
  width: 120px;
  height: 113px;
  left: 658px;
  top: 455px;
  z-index:2;

}

img.kirby_fall{
  position: absolute;
  width: 115px;
  height: 120px;
  left: 892px;
  top: 582px;
  z-index:2;

}

img.kirby_char{
  position: absolute;
  width: 773px;
  height: 475px;
  left: 50px;
  top: 1089px;
}

main {
  margin-top: 75px;
}

p {
  /* position: absolute; */
  width: 400px;
  height: 67px;
  margin-left: 851px;
  top: 1376px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;

  /* Teal */
  padding-bottom: 50px;

  color: #478799;

}

h3 {
width: 82px;
height: 95px;
margin-left: 851px;
padding-top:30px;
top: 1469px;

font-family: 'Space Mono';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 95px;
/* identical to box height */

letter-spacing: 0.05em;

color: #CCBAD6;

}

hr {
  width: 434px;
  height: 0px;
  margin-left: 843px;
  border: 1px solid #CCBAD6;

}

h2{

width: 544px;
height: 54px;
left: 244px;
top: 932px;

font-family: 'Space Mono';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 85.1%;
/* or 54px */

letter-spacing: -0.05em;

}

h2.char{
  position: absolute;
  width: 544px;
  height: 54px;
  left: 244px;

  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 85.1%;
  /* or 54px */

  letter-spacing: -0.05em;

  color: #FFFFFF;
}

.rectangle_2{
  position: absolute;
  width: 823px;
  height: 579px;
  left: 0px;
  top: 510px;

  /* Teal */

  background: #478799;
  z-index: -1;
}

.rectangle_3{
  position: absolute;
  width: 773px;
  height: 613px;
  left: 50px;
  top: 1500px;

  background: #CCBAD6;

  z-index: -1;
}
